confluent-kafka==2.6.1
fastapi==0.115.6
httpx==0.28.1
pydantic-settings==2.7.1
prometheus-client==0.21.1
paho-mqtt==2.1.0
asyncua==1.1.5
pymodbus==3.8.3
pytest==8.3.4
uvicorn[standard]==0.34.0
orjson>=3.10.0,<4
msgpack>=1.1.0,<2
